*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* background: url("login.png");
    background-size: cover; */
}

.login_block {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(214, 198, 198, 0.4);
    text-align: center;
}

.login_block h1 {
    color: black;
    /* text-transform: uppercase;  */ /* write hoa*/
    font-weight: 700;
    text-align: left;
}

.login_block input[type="text"], .login_block input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
}

.login_block input[type="text"]:focus, .login_block input[type="password"]:focus {
    width: 270px;
    border-color: #0367fd;
}

.login_block input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #4e4a4aec;
    padding: 14px 35px;
    outline: none;
    color: rgb(15, 4, 4);
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.login_block input[type="submit"]:hover {
    background: #7dacf2;
    width: 150px;
}